.wrapper-icon {
    background-color: #F5F4FA;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}


.desc{
    margin-bottom: 10px;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
}

.desc-item {
width: 270px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--mail-color)
}

.list-title{
    flex-basis: calc((100% - 90px) / 4);
}


.summary-title {
    justify-content: center;
    gap: 30px;
    display: flex;
}

.list-index {
    gap: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}